<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="test" parallel="false">
  <test name= "TestNg Test">
    <classes>
      <class name="test.chromeTest1"/>
      <class name="test.chromeTest2"/>
      <class name="test.chromeTest3"/>
    </classes>
  </test>
</suite> 
